<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gerenciar Senhas</title>
		@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/materialize.css")
		@Scripts.Render("~/bundles/modernizr")
	</head>
<body>

	<div class="container">
		<div class="card-panel light-blue center-align">
			<h2>@Html.ActionLink("Gerenciador de Senhas", "Index", "Home")</h2>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Senha top</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/materialize.js")
	@RenderSection("scripts", required: false)
</body>
</html>
